<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AuthorizationServices" type="ReactiveServices.Authorization.ConfigurationSections.AuthorizationServicesSection, ReactiveServices.Authorization"/>
    <section name="AuthorizationRules" type="ReactiveServices.Authorization.ConfigurationSections.AuthorizationRulesSection, ReactiveServices.Authorization"/>
  </configSections>
  <AuthorizationServices>
    <AuthorizationService ServiceName="AllowAll" AuthorizationRequestSubscriptionId="AllowAll" />
  </AuthorizationServices>
  <AuthorizationRules AuthorizationDomain="MessageBusTests" DenyByDefault="true">
    <AuthorizationRule OperationName="Publish" OperationValue="ReactiveServices.MessageBus.Tests.AMessage" AuthorizationServiceName="AllowAll" />
    <AuthorizationRule OperationName="Subscribe" OperationValue="ReactiveServices.MessageBus.Tests.AMessage" AuthorizationServiceName="AllowAll" />
    <AuthorizationRule OperationName="Request" OperationValue="ReactiveServices.MessageBus.Tests.RequestX" AuthorizationServiceName="AllowAll" />
    <AuthorizationRule OperationName="Respond" OperationValue="ReactiveServices.MessageBus.Tests.ResponseX" AuthorizationServiceName="AllowAll" />
    <AuthorizationRule OperationName="Request" OperationValue="ReactiveServices.MessageBus.Tests.ResponseX" AuthorizationServiceName="AllowAll" />
    <AuthorizationRule OperationName="Respond" OperationValue="ReactiveServices.MessageBus.Tests.RequestX" AuthorizationServiceName="AllowAll" />
    <AuthorizationRule OperationName="Send" OperationValue="ReactiveServices.MessageBus.Tests.AMessage" AuthorizationServiceName="AllowAll" />
    <AuthorizationRule OperationName="Receive" OperationValue="ReactiveServices.MessageBus.Tests.AMessage" AuthorizationServiceName="AllowAll" />
  </AuthorizationRules>
</configuration>