<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AuthorizationServices" type="ReactiveServices.Authorization.ConfigurationSections.AuthorizationServicesSection, ReactiveServices.Authorization"/>
    <section name="AuthorizationRules" type="ReactiveServices.Authorization.ConfigurationSections.AuthorizationRulesSection, ReactiveServices.Authorization"/>
  </configSections>
  <AuthorizationServices>
  </AuthorizationServices>
  <AuthorizationRules AuthorizationDomain="MessageBusTests" DenyByDefault="true">
  </AuthorizationRules>
</configuration>