<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ReferenceAssemblies" type="ReactiveServices.Configuration.ConfigurationSections.ReferenceAssembliesSection, ReactiveServices.Configuration"/>
    <section name="DependencyInjections" type="ReactiveServices.Configuration.ConfigurationSections.DependencyInjectionsSection, ReactiveServices.Configuration"/>
  </configSections>
  <ReferenceAssemblies>
    <ReferenceAssembly AssemblyName="ReactiveServices.MessageBus, Version=0.2.*, Culture=neutral, PublicKeyToken=null" />
    <ReferenceAssembly AssemblyName="ReactiveServices.MessageBus.InSingleProcessMemory, Version=0.2.*, Culture=neutral, PublicKeyToken=null" />
  </ReferenceAssemblies>
  <DependencyInjections>
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.ISubscriptionBus" ConcreteType="ReactiveServices.MessageBus.InSingleProcessMemory.InSingleProcessMemorySubscriptionBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IPublishingBus" ConcreteType="ReactiveServices.MessageBus.InSingleProcessMemory.InSingleProcessMemoryPublishingBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IRequestBus" ConcreteType="ReactiveServices.MessageBus.InSingleProcessMemory.InSingleProcessMemoryRequestBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IResponseBus" ConcreteType="ReactiveServices.MessageBus.InSingleProcessMemory.InSingleProcessMemoryResponseBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.ISendingBus" ConcreteType="ReactiveServices.MessageBus.InSingleProcessMemory.InSingleProcessMemorySendingBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IReceivingBus" ConcreteType="ReactiveServices.MessageBus.InSingleProcessMemory.InSingleProcessMemoryReceivingBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IAuthorizedSubscriptionBus" ConcreteType="ReactiveServices.MessageBus.InSingleProcessMemory.InSingleProcessMemoryAuthorizedSubscriptionBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IAuthorizedPublishingBus" ConcreteType="ReactiveServices.MessageBus.InSingleProcessMemory.InSingleProcessMemoryAuthorizedPublishingBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IAuthorizedRequestBus" ConcreteType="ReactiveServices.MessageBus.InSingleProcessMemory.InSingleProcessMemoryAuthorizedRequestBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IAuthorizedResponseBus" ConcreteType="ReactiveServices.MessageBus.InSingleProcessMemory.InSingleProcessMemoryAuthorizedResponseBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IAuthorizedSendingBus" ConcreteType="ReactiveServices.MessageBus.InSingleProcessMemory.InSingleProcessMemoryAuthorizedSendingBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IAuthorizedReceivingBus" ConcreteType="ReactiveServices.MessageBus.InSingleProcessMemory.InSingleProcessMemoryAuthorizedReceivingBus" />
  </DependencyInjections>
</configuration>