<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ReferenceAssemblies" type="ReactiveServices.Configuration.ConfigurationSections.ReferenceAssembliesSection, ReactiveServices.Configuration"/>
    <section name="DependencyInjections" type="ReactiveServices.Configuration.ConfigurationSections.DependencyInjectionsSection, ReactiveServices.Configuration"/>
  </configSections>
  <ReferenceAssemblies>
    <ReferenceAssembly AssemblyName="ReactiveServices.Authorization, Version=0.3.*, Culture=neutral, PublicKeyToken=null" />
    <ReferenceAssembly AssemblyName="ReactiveServices.MessageBus, Version=0.3.*, Culture=neutral, PublicKeyToken=null" />
    <ReferenceAssembly AssemblyName="ReactiveServices.MessageBus.RabbitMQ, Version=0.3.*, Culture=neutral, PublicKeyToken=null" />
  </ReferenceAssemblies>
  <DependencyInjections>
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IMessageSerializer" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQJsonSerializer" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.ISubscriptionBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQSubscriptionBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IPublishingBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQPublishingBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IRequestBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQRequestBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IResponseBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQResponseBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.ISendingBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQSendingBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IReceivingBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQReceivingBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IAuthorizedSubscriptionBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQAuthorizedSubscriptionBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IAuthorizedPublishingBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQAuthorizedPublishingBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IAuthorizedRequestBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQAuthorizedRequestBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IAuthorizedResponseBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQAuthorizedResponseBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IAuthorizedSendingBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQAuthorizedSendingBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IAuthorizedReceivingBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQAuthorizedReceivingBus" />
  </DependencyInjections>
</configuration>