<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.4.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="NLog" version="4.0.1" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="PostSharp" version="4.1.21" targetFramework="net451" />
  <package id="PostSharp.Patterns.Diagnostics" version="4.1.21" targetFramework="net451" />
  <package id="PostSharp.Patterns.Diagnostics.NLog" version="4.1.21" targetFramework="net451" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="SSH.NET" version="2013.4.7" targetFramework="net451" />
</packages>